body {
    font-family: Arial;
    background-color: lightgray;
    margin: 30px;
}

nav {
    background-color: black;
    padding: 15px;
}

nav a {
    color: white;
    margin: 15px;
}

h1 {
    color: blue;
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 10px;
}

input {
    padding: 5px;
}

textarea {
    width: 200px;
    height: 80px;
}